

@model developer.Models.HomePage


<center>

    <div class="well well-lg" style="background-color:white;">


                @*@foreach (Tweetinvi.Models.IUser item in Model.User)
            {

                <a href="#"> @Tweetinvi.Account.GetUserIdsRequestingFriendship(10) </a>
                <a> @item.Name  </a>


    <a href="#"><img src="@item.ProfileBannerURL" style="width:300px; height:100px;" /></a><br />


    <a href="#"><img src="@takip.ProfileImageUrlHttps" class="img-circle" usemap="#planetmap" style="position:absolute; left:50px; top:100px;" /></a><br />

    <br />

    

            }*@


    </div>

</center>