@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">
        <li>
            @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
        </li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
    </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
     
        <img data-src="holder.js/40x40" class="img-circle" alt="40x40" src="http://www.freeiconspng.com/uploads/twitter-icon-download-18.png" data-holder-rendered="true" style="width:35px; height:35px; margin-top:8px;">


        <li> <input type="text" class="form-control" style="margin-top:8px;" placeholder="Twitter'da Ara..."  /> 
</li>




       
         <li>@Html.ActionLink("Tweetle", "Gonder", "Home", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>


    </ul>
}
